html{
    box-sizing: border-box;
    background-color: #EDF2C5;
}
*, *:before, *:after {
    box-sizing: inherit;
}

.container {
    width: 100%;
    height: 62px;
    padding: 0 40px;
    display: flex;
    justify-content: center;
    
    align-items: center;
    
}

.head {
    font-family:'Noto Sans', sans-serif;
    text-align: left;
    font-size: 44px;
    font-weight: 900;
    color: #778A50;
}

.logo {
    font-family:'Noto Sans', sans-serif;
    text-align: right;
    color: #778A50;
    gap: 12px;
    display: flex;
    align-items: center;
}
.line {
    border: 1px solid #778A50;
    width: 0px;
    height: 24px;
}
.logo img {
  width: 24px;
  height: 24px;
}

button {
    font-family: 'Noto Sans', sans-serif;
    border-radius: 3px;
    font-size: 14px;
    font-weight: bold;
    width: auto;       
    height: 27px;        
    border: 1px solid #778A50;
    background: #EDF2C5;
    color: #778A50;
    padding: 4px 8px;
    cursor: pointer;
}

.nav-bar {
    max-width: 1120px;
    height: 44px;
    margin: 8px auto 16px auto;
    list-style: none;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background-color:#778A50;
    
}

.nav-list {  
    display: flex;
    padding: 10px auto 10px 30px ;
    list-style: none;
}


.nav-link {
    font-family: 'Noto Sans', sans-serif;
    text-decoration: none;
    color: #EDF2C5;
    font-weight: 600;
    font-size: 16px;
    padding-right: 65px;
    line-height: 1.5;
}

.pumpkin {
    width: 1120px;
    height: 448px;
    margin: 0 auto;
    display: block;
    object-fit: cover;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 1120px;      
    margin: 0 auto;     
}

.head ,.logo {
    width: 528px;
    
}
.content-a ,.contact {
    height: 45px;
    margin: 32px auto 16px auto;
    background-color: #778A50;
    border-radius: 3px;
    
    display: flex;
    align-items: center;
    padding-left:  30px ;
    
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    font-weight: 900;
    color: #EDF2C5;
}

.images{
    width: 528px;
    height: 140px;
    display:flex;
    opacity: 1;
    gap:16px;
    
}
.images img{
    width: 165px;
    height:140px;
    object-fit: cover;
}

.content-2-s {
    width: 528px;
    height: 140px;
    background-color: #F7FBDA;

    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px; 
    color:#7D7D7D;
    padding: 16px;
    vertical-align: middle;
}



.footer-content {
    max-width: 1440px;
    height: 60px;
    margin: 117px auto 0px auto;
    background-color: #778A50;
    border-radius: 3px;
    

    font-family: 'Noto Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #EDF2C5;
    line-height: 1.5;

    display: flex;
    align-items: center;
    justify-content: center;
    

}